*{
  margin: 0;
  padding: 0;
  border: none;
}

:root{
  font-size: 62.5%;
  --bg-btn-primary: rgb(225, 225, 230);
  --bg-btn-primary-active: #99999e;
  --bg-btn-secondary: rgb(2, 121, 157);
  --box-shadow-primary: #acacac;
  --box-shadow-secondary: #666;
}

body{
  min-height: 100%;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
}

main{
  height: 90vh;
  display: flex;
  padding: 0 3rem;
  
  gap: 13vw;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  main{
    display: flex;
    flex-direction: column;
  }
}

#timer-panel span{
  font-size: 12.5rem;
  font-weight: 700;
  text-shadow: #aeaeae -8px 8px 0px;
}

@media (max-width: 390px) {
  #timer-panel span{
    font-size: 9rem;
  }
  .sound-btn{
    padding: 3rem;
  }
}

#timer-section{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}



#timer-controls{
  display: flex;
  justify-content: space-between;
}

.timer-btn{
  background-color: transparent;
}

.timer-btn:hover{
  cursor: pointer;

}


#sound-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}



.sound-btn{
  background-color: var(--bg-btn-primary);
  padding: 3rem;
  border-radius: 2.0rem;
  box-shadow: -8px 8px var(--box-shadow-primary);
  transition:0.1s;
}
.sound-btn svg{
  transform: scale(60%);
}
@media (min-width: 390px) {
  .sound-btn{
    padding: 4.8rem;
  }
  .sound-btn svg{
    transform: scale(100%);
  }
}

.sound-btn:hover{
  cursor: pointer;
}

.sound-btn:active{
  /* background-color: var(--bg-btn-secondary); */
  box-shadow: -6px 5px var(--box-shadow-secondary);

  transform: translate(-2px, 3px);
}



